<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>首页</title>
  <base href="/">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/js/bootstrap.min.js">
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    Example page header <small>Subtext for header</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="breadcrumb">
                        <li>
                             <a href="#">Home</a>
                        </li>
                        <li>
                             <a href="#">Library</a>
                        </li>
                        <li class="active">
                            Data
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>
                                    账号
                                </th>
                                <th>
                                    权限
                                </th>
                                <th>
                                    访问地址
                                </th>
                                <th>
                                    sessionId
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="info">
                                <td>
                                    <span sec:authentication="name" />
                                </td>
                                <td>
                                    <span sec:authentication="authorities" />
                                </td>
                                <td>
                                    <span sec:authentication="details.remoteAddress" />
                                </td>
                                <td>
                                    <span sec:authentication="details.sessionId" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="/logout">退出</a>
    <div class="row clearfix">
        <div class="col-md-12 column">
             <address> <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
        </div>
    </div>
</div>

</body>

</html>